@font-face {
	font-family: alien;
	src: url(../fonts/ca.ttf);
}
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Calibri";
	background-color: grey;
}
body > #wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/*///////////HEADER/////////////*/
#wrapper > header {
	background-color: #3A393B;
	color: white;
	box-shadow: 0px 0px 20px black;
}
#wrapper > header > #logo {
	display: inline-block;
	font-size: 2.2em;
	font-weight: bold;
	vertical-align: top;
	font-family: alien;
	padding: 10px;
}
#wrapper > header > nav {
	background-color: black;
	text-align: left;
	padding-left: 20px;
}
#wrapper > header > nav > ul {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-bottom: 10px;

}
#wrapper > header > nav > ul > li {
	display: inline-block;
	margin-right: 20px;
}
#wrapper > header > nav > ul > li > a {
	color: white;
	text-decoration: none;
	font-size: 1.7em;
	font-weight: bold;
}
#wrapper > header > nav > ul > li > a:hover {
	color: grey;
}
#wrapper > header > nav > #search-box {
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 13px;
	margin-left: 600px; 
}
#wrapper > header > nav > #search-box input[type="text"] {
	border: 1px solid white;
	width: 200px;
	height: 25px;
	padding-left: 10px;
}
#wrapper > header > nav > #search-box input[type="submit"] {
	width: 80px;
	height: 27px;
	border: 1px solid lightgrey;
	background-color: lightgrey;
	font-weight: bold;
}
#wrapper > header > nav > #search-box input[type="submit"]:hover {
	background-color: grey;
	border: grey;
	cursor: pointer;
}
/*///////ASIDE///////*/
#wrapper > #asides {
	float: left;
	margin-left: 10px;
	width: 250px;
}
#wrapper > #asides > aside {
	background-color: #3A393B;
	width: 150%;
	margin: 10px;
	margin-top: 20px; 
	box-shadow: 0px 0px 20px black;
}
#wrapper > #asides > aside hr {
	margin: 5px;
}
#wrapper > #asides > aside > header {
	background-color: black;
	color: white;
	font-family: alien;
	font-size: 1.7em;
	text-align: left;
	margin-top: 20px;
	padding: 5px;
	padding-left: 10px;
}
#wrapper > #asides > aside > #log_in {
	text-align: left;
	padding: 15px;
}
#wrapper > #asides > aside > #log_in > div {
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}
#wrapper > #asides > aside > #log_in > form {
	display: inline-block;
	margin-top: 10px;
}
#wrapper > #asides > aside > #log_in > form > input[type="text"], input[type="password"] {
	border: 1px solid black;
	height: 30px;
	padding-left: 10px;
	outline: none;
	margin: 2px;
	width: 150%;
}
#wrapper > #asides > aside > #log_in > form > input[type="submit"] {
	background-color: lightgrey;
	text-align: left;
	padding: 5px;
	border: 1px solid black; 
	margin: 2px;
	margin-bottom: 10px;
	width: 100px;
	font-weight: bold;
	text-align: center;
}
#wrapper > #asides > aside > #log_in > form > input[type="submit"]:hover {
	background-color: grey;
	cursor: pointer;
}
#wrapper > #asides > aside > #log_in > a {
	display: inline-block;
	color: white;
}
#wrapper > #asides > aside > #log_in > a:hover {
	color: grey;
}

#wrapper > #asides > aside > #sign_up {
	text-align: left;
	padding: 15px;
	display: none;
}
#wrapper > #asides > aside > #sign_up > div {
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}
#wrapper > #asides > aside > #sign_up > form {
	display: inline-block;
	margin-top: 10px;
}
#wrapper > #asides > aside > #sign_up > form > input[type="text"], input[type="password"] {
	border: 1px solid black;
	height: 30px;
	padding-left: 10px;
	outline: none;
	margin: 2px;
	width: 150%;
}
#wrapper > #asides > aside > #sign_up > form > input[type="submit"] {
	background-color: lightgrey;
	text-align: left;
	padding: 5px;
	border: 1px solid black; 
	margin: 2px;
	margin-bottom: 10px;
	width: 100px;
	font-weight: bold;
	text-align: center;
}
#wrapper > #asides > aside > #sign_up > form > input[type="submit"]:hover {
	background-color: grey;
	cursor: pointer;
}
#wrapper > #asides > aside > #sign_up > a {
	display: inline-block;
	color: white;
}
#wrapper > #asides > aside > #sign_up > a:hover {
	color: grey;
}


#wrapper > #asides > aside > #friends_links > ul {
	list-style-type: none;
	margin: 10px;
	padding: 10px;
}
#wrapper > #asides > aside > #friends_links > ul > li > a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1.3em;
}
#wrapper > #asides > aside > #friends_links > ul > li > a:hover {
	color: grey;
	text-decoration:  underline;
}

#wrapper > #asides > aside > #sign_in {
	margin: 10px;
	padding: 10px;
}
#wrapper > #asides > aside > #hello-user {
	padding: 10px;
}
#wrapper > #asides > aside > #hello-user > p {
	color: white;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 5px;
}
#wrapper > #asides > aside > #hello-user > a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.4em;
}
#wrapper > #asides > aside > #hello-user > a:hover {
	color: grey;
}
#wrapper > #asides > aside > #hello-user > ul {
	list-style-type: none;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
}
#wrapper > #asides > aside > #hello-user > ul > li > a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	display: inline-block;
}
#wrapper > #asides > aside > #hello-user > ul > li > a:hover {
	color: grey;
}

/* ////// USERS /////*/
#posts-wrapper {
	margin: 30px;
	box-shadow: 0px 0px 20px black;
	background-color: #3A393B;
	padding-bottom: 10px;
}
#posts-wrapper > h1 {
	background-color: black;
	font-family: alien;
	font-size: 2.6em;
	color: white;
	padding-left: 30px;
}
#users-main {
	margin: 30px;
	padding: 10px;
	background: grey;
	box-shadow: 0px 0px 20px;
}
.post-header a {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	font-style: italic;
} 
.post-header a > h1 {
	font-size: 1.8em;
	font-style: normal;
	font-weight: bold;
}
.post-header a:hover {
	color: black;
}

/*///////CONTACTS MAIN///////*/
#contacts-main {
	background-color: #3A393B;
	margin: 30px;
	box-shadow: 0px 0px 20px;
	padding-bottom: 10px;
}
#contacts-main > header {
	background-color: black;
	font-family: alien;
	color: white;
	font-size: 2.6em;
	padding-left: 30px;
}
#contacts-main > section {
	margin: 50px;
	background-color: grey;
	box-shadow: 0px 0px 20px;
	padding-bottom: 10px;
}
#contacts-main > section > header {
	color: white;
	font-family: alien;
	padding-left: 20px;
	padding-bottom: 10px;
	font-size: 2em;
	text-decoration: underline;
}
#contacts-main > section > p {
	padding-left: 20px;
	color: black;
	font-size: 1.3em;
	font-weight: bold;
}
#contacts-main > section > p > .mail {
	color: white;
}
#contacts-main > section > p >a {
	text-decoration: none;
	color: white;
}
#contacts-main > section > p >a:hover {
	color: black;
}
/*///////MAIN///////*/

/*//////ADD POST FORM///////*/

#add-post-form {
	background-color: #3A393B;
	float: right;
	display: inline-block;
	width: 68%;
	margin: 20px;
	box-shadow: 0px 0px 20px;
}
#add-post-form > form > hr {
	margin-bottom: 10px;
	margin-top: 10px;
}
#add-post-form > header {
	background-color: black;
	color: white;
	font-family: alien;
	font-size: 2.5em;
	padding-left: 15px;
}
#add-post-form > form {
	margin: 20px;
	margin-top: 40px;
}
#add-post-form > form > p > label {
	display: inline-block;
	font-size: 1.8em;
	font-weight: bold;
	padding-right: 70px;
	width: 100px;
	color: white;
	vertical-align: top;
}
#add-post-form > form > p > #message {
	vertical-align: top;
}
#add-post-form > form > p > input[type="text"] {
	width: 50%;
	height: 30px;
	border: 1px solid black;
	padding-left: 10px;
	font-size: 1.2em;
}
#add-post-form > form > p > input[type="submit"] {
	border: 1px solid black;
	padding: 10px 50px;
	margin-left: 300px;
	margin-top: 35px;
	font-size: 1.2em;
}
#add-post-form > form > p > input[type="submit"]:hover {
	background-color: grey;
	cursor: pointer;
}
#add-post-form > form > p > select {
	width: 51.3%;
	border: 1px solid black;
	height: 30px;
	font-size: 1.2em;
}
#add-post-form > form > p > textarea {
	width: 51%;
	border: 1px solid black;
	height: 200px;
}
/*//////ADD POST FORM END///////*/

/*POSTS PAGE*/
#posts-main {
	background-color: #3A393B;
	margin: 20px;
	box-shadow: 0px 0px 20px;
	width: 68%;
	float: right;
}
#posts-main > header {
	background-color: black;
	font-family: alien;
	color: white;
	text-align: left;
	font-size: 2.3em;
	padding: 5px;
	padding-left: 20px;
}
#posts-main > #filter-form {
	margin: 10px;
}
#posts-main > #filter-form > form > select {
	width: 130px;
	border: 1px solid black;
	font-size: 17px;
	font-weight: bold;
}
#posts-main > #filter-form > form > input[type="submit"] {
	width: 130px;
	border: 1px solid black;
	font-size: 17px;
	font-weight: bold;
}
#posts-main > #filter-form > form > input[type="submit"]:hover {
	background-color: grey;
	cursor: pointer;
}
#posts-main > article.post {
	margin: 20px;
	background-color: lightgrey;
	margin-bottom: 10px;
	box-shadow: 0px 0px 20px;
	padding: 10px;
}
#posts-main > article a {
	text-decoration: none;
	color: black;
	font-weight: bold;	
}
#posts-main > article a:hover {
	color: grey;
}
#posts-main > article > .post-header {
	margin-bottom: 10px;
}
#posts-main > article > .post-body {
	margin: 10px;
}
#posts-main > article > header > a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 1.5em;
}
#posts-main > article > header > a:hover {
	color: grey;
}
#posts-main > article > footer {
	margin-top: 0px;
	background-color: lightgrey;
	box-shadow: none;
	margin: 10px;
}

#wrapper > main#index-main {
	width: 68%; 
	display: inline-block;
	float: right; 
}
#wrapper > main > section {
	background-color: #3A393B;
	margin: 20px;
	box-shadow: 0px 0px 20px black;

}
#wrapper > main > section > header {
	background-color: black;
	color: white;
	font-family: alien;
	text-align: left;
	font-size: 2.2em;
	padding: 3px;
	padding-left: 15px;
}
#wrapper > main > section > article {
	padding: 10px;
}
#wrapper > main > section > article > header {
	color: white;
	font-weight: bold;
	font-size: 1.8em;
}
#wrapper > main > section > article > p {
	color: white;

}


#wrapper > footer {
		background-color: black;
		height: 80px;
		margin-top: 20px;
		box-shadow: 0px 0px 20px;
		float: left; 
		width: 100%;	
	}
	footer > #footer-site {
		display: inline-block;
		font-family: alien;
		color: white;
		font-size: 2em;
		padding-top: 25px;
		padding-left: 30px;
	}
	footer > div.social {
		display: inline-block;
		margin-left: 160px;
	}
	footer > div.social > ul {
	list-style-type: none;
	display: inline-block;
	}
	footer > div.social > ul > li {
		display: inline-block;
	}
	footer > div.social > ul > li > a {
		color: black;
	}

	#facebook {
		left: 0;
	display: inline-block;
	background: url(../images/icons.png);
	background-position: 0px 0px;
	width: 45px;
	height: 48px;
	}
	#instagram {
		left: 0;
	display: inline-block;
	background: url(../images/icons.png);
	background-position: -248px 0px;
	width: 45px;
	height: 48px;
	}
	#flickr {
		left: 0;
	display: inline-block;
	background: url(../images/icons.png);
	background-position: 110px 0px;
	width: 45px;
	height: 48px;
	}
	#twitter {
		left: 0;
	display: inline-block;
	background: url(../images/icons.png);
	background-position: -490px 0px;
	width: 45px;
	height: 48px;
	}
	#linkedin {
		left: 0;
	display: inline-block;
	background: url(../images/icons.png);
	background-position: -367px 0px;
	width: 45px;
	height: 48px;
	}


	/*//////////PAGINATION//////////*/


	#pagination {

	}
	#pagination > ul {
		list-style-type: none;
	}
	#pagination > ul > li {
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		background-color: grey;
		border: 1px solid white;
		padding: 10px;
		width: 60px;
		height: 20px;
	}
	#pagination > ul > li:hover {
		background-color: darkgrey;
		cursor: pointer;
	}
	#pagination > ul > li > a {
		text-decoration: none;
		color: black;
		font-weight: bold;
		font-size: 1.1em;
	}
	#pagination > ul > li > a:hover {
		
	}